.container {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid white;
    padding: 3rem 2rem;
}

.spacer {
    padding: 0.5rem;
}

